* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 300;
  background-color: #e2e7f7;
}

.cybershoes-carousel-btn {
  padding: 13px 35px;
  background: #54BACF;
  border: 1px solid transparent;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
  transition: all 0.5s;
}
.cybershoes-carousel-btn:hover {
  background: #2A5D67;
  border: 1px solid #e2e7f7;
  opacity: 0.95;
}

.cybershoes-card-btn {
  padding: 8px 20px;
  background: transparent;
  border: 1px solid #54BACF;
  border-radius: 10px;
  color: #f2f2f2;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.5s;
}
.cybershoes-card-btn:hover {
  background: #54BACF;
  border: none solid none;
  color: #FFFFFF;
  text-decoration: none;
}

.cybershoes-category-btn {
  padding: 10px 22px;
  background: #f2f2f2;
  border: 1px solid transparent;
  border-radius: 20px;
  color: #2A5D67;
  font-size: 20px;
  font-weight: 400;
  transition: all 0.5s;
}
.cybershoes-category-btn:hover {
  background: #2A5D67;
  border: 1px solid #2A5D67;
  color: #FFFFFF;
}

.size-btn {
  padding: 0 0;
  background: #FFFFFF;
  border: 1px solid 1px;
  border-radius: #2A5D67;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #2A5D67;
  font-size: 16px;
  font-weight: 400;
}
.size-btn:focus {
  background-color: #2A5D67;
  color: #FFFFFF;
}

.cybershoes-card {
  background: #2A5D67;
  padding: 35px;
  border-radius: 10px;
  margin-bottom: 30px;
  padding-bottom: 0;
  box-shadow: 5px 5px 20px #000000, -5px -5px 20px #54BACF;
  width: auto;
}
.cybershoes-card .d-flex {
  align-items: center;
}
.cybershoes-card img {
  box-shadow: 2px 2px 20px #CACFDF, -2px -2px 20px #54BACF;
  background: linear-gradient(to right, #2A5D67, #54BACF);
}
.cybershoes-card .card-title {
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 700;
}
.cybershoes-card .card-price {
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
}
.cybershoes-card .card-rate {
  color: #f9d412;
}

header {
  background-color: #2A5D67;
  padding: 10px;
  border-bottom: 1px solid #54BACF;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .navbar-brand {
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 700;
  text-shadow: 3px 3px #000000;
}
.navbar .components-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .components-group .nav-item {
  font-size: 20px;
  margin: 10px;
}
.navbar .components-group button {
  border-radius: 10px;
}

#isLogIn {
  display: none;
}

.cybershoes-carousel {
  background-color: #2A5D67;
  padding: 13px;
  background-image: url(../img/wave-carousel.svg);
  background-size: cover;
  background-position: center bottom;
}
.cybershoes-carousel h1 {
  color: #54BACF;
  font-size: 70px;
  font-weight: 700;
  text-shadow: 2px 2px #CACFDF;
}
.cybershoes-carousel h3 {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
}

.cybershoes-product {
  padding-bottom: 75px;
  background-color: #CACFDF;
}
.cybershoes-product h1 {
  background: linear-gradient(to right, #2A5D67, #54BACF);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 50px;
  font-weight: 700;
}
.cybershoes-product .cybershoes-product-category .nav-item {
  margin: 0 10px;
}
.cybershoes-product .cybershoes-product-category .nav-item .nav-link {
  border-radius: 20px;
}
.cybershoes-product .cybershoes-product-category .nav-item .nav-link.active {
  background: #2A5D67;
  border: 1px solid transparent;
  color: #FFFFFF;
}

.cybershoes-footer {
  background-color: #2A5D67;
  padding: 62px 0;
}
.cybershoes-footer .col-8 .nav-item .nav-link {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.5s;
}
.cybershoes-footer .col-8 .nav-item .nav-link:hover {
  color: #CACFDF;
}

.register {
  padding: 62px;
}
.register h1 {
  color: #2A5D67;
  font-size: 35px;
  font-weight: 700;
}
.register .form-group label {
  color: #2A5D67;
  font-size: 24px;
  font-weight: 400;
}
.register .form-group span {
  color: #2A5D67;
  font-size: 24px;
  font-weight: 400;
}
.register .radio-container {
  padding: 8px;
}
.register .radio-container input[type=radio] {
  display: none;
}
.register .radio-container label {
  position: relative;
  cursor: pointer;
  padding-right: 32px;
}
.register .radio-container label:nth-last-child(1) {
  padding-right: 0px;
}
.register .radio-container label::before {
  content: "";
  border: 4px solid #2A5D67;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: -8px 20px;
  margin-left: 0;
  border-radius: 50%;
}
.register .radio-container label::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #2A5D67;
  left: 3px;
  top: 15px;
  margin: -8px 20px;
  margin-left: 0;
  border-radius: 50%;
  opacity: 0;
}
.register .radio-container input[type=radio]:checked + label::after {
  opacity: 1;
}

.login {
  padding: 62px;
}
.login h1 {
  color: #2A5D67;
  font-size: 35px;
  font-weight: 700;
}
.login .form-group label {
  color: #2A5D67;
  font-size: 24px;
  font-weight: 400;
}
.login .form-group span {
  color: #2A5D67;
  font-size: 24px;
  font-weight: 400;
}

.product-detail {
  padding: 75px 0;
}
.product-detail h1 {
  color: #2A5D67;
  font-size: 35px;
  font-weight: 700;
}
.product-detail h2 {
  color: #2A5D67;
  font-size: 30px;
  font-weight: 400;
}
.product-detail p {
  color: #2A5D67;
  font-size: 20px;
  font-weight: 300;
}

.quantity-btn button {
  width: 35px;
  height: 35px;
  outline: none;
  background: none;
  border: 1px solid #f2f2f2;
  cursor: pointer;
}
.quantity-btn button svg {
  color: #2A5D67;
}
.quantity-btn button:hover {
  background-color: #CACFDF;
}
.quantity-btn #amount {
  width: 40px;
  text-align: center;
  border: 1px solid #f2f2f2;
  background-color: #e2e7f7;
}

.related-product {
  padding-bottom: 75px;
  background-color: #CACFDF;
}
.related-product h1 {
  background: linear-gradient(to right, #2A5D67, #54BACF);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 50px;
  font-weight: 700;
}

.cart {
  padding: 70px 0;
}
.cart h1 {
  background: linear-gradient(to right, #2A5D67, #54BACF);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 50px;
  font-weight: 700;
}

.shopping-list {
  width: 100%;
}
.shopping-list thead {
  background-color: #2A5D67;
}
.shopping-list thead th {
  text-align: center;
  padding: 20px;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 400;
}
.shopping-list tbody {
  background-color: #f2f2f2;
}
.shopping-list tbody tr {
  text-align: center;
}
.shopping-list tbody th {
  padding: 20px;
}
.shopping-list tbody th img {
  width: 50px;
  height: 50px;
}
.shopping-list tbody td {
  padding: 20px;
  color: #000000;
  font-size: 20px;
  font-weight: 300;
}/*# sourceMappingURL=main.css.map */