.cybershoes-carousel-btn {
    @include styleButton($pd-4, $pd-3, $color-primary-2, transparent, $br-1);

    @include styleText($color-white-1, $fs-2, $fw-2);

    transition: all 0.5s;

    &:hover {
        @include styleButtonHover($color-primary-1, $border-1, $color-gray-2);
        opacity: 0.95;
    }
}

.cybershoes-card-btn {
    @include styleButton($pd-5, $pd-1 + 3, transparent, $color-primary-2, $br-1);
    @include styleText($color-white-2, $fs-1, $fw-2);
    transition: all 0.5s;
    &:hover {
        @include styleButtonHover($color-primary-2, none, none);
        color: $color-white-1;
        text-decoration: none;
    }
}

.cybershoes-category-btn {
    @include styleButton($pd-5 + 2, $pd-1 + 5, $color-white-2, transparent, $br-2);
    @include styleText($color-primary-1, $fs-2, $fw-2);
    transition: all 0.5s;
    &:hover {
        @include styleButtonHover($color-primary-1, $border-1, $color-primary-1);
        color: $color-white-1;
    }
    
}
