.cybershoes-card{
    @include styleCard($color-primary-1,$pd-3,$br-1,$mg-2);
    box-shadow: 5px 5px 20px $color-black-1, -5px -5px 20px $color-primary-2;
    width: auto;
    img{
        box-shadow: 2px 2px 20px $color-gray-1, -2px -2px 20px $color-primary-2;
    }
    .card-title{
        @include styleText($color-white-2,$fs-2,$fw-3);
    }
    .card-price{
        @include styleText($color-white-2,$fs-2,$fw-3);
    }
    .card-rate{
        color: $color-yellow-1;
    }

}