@mixin styleText($color,$fs,$fw){
    color: $color;
    font-size: $fs;
    font-weight: $fw;
}

@mixin styleButton($pd-y,$pd-x,$bg,$border,$br){
    padding: $pd-y $pd-x;
    background: $bg;
    border: $border;
    border-radius: $br;
}

@mixin styleButtonHover($bg,$border,$bc){
    background: $bg;
    border:$border solid $bc;
}