.cybershoes-product{
    padding-bottom: $pd-6+5;
    background-color: $color-gray-1;
    h1{
        @include styleText($color-primary-1,$fs-4+5,$fw-3);
    }
    .cybershoes-product-category{
        .nav-item{
            margin: 0 $mg-1;
            .nav-link{
                border-radius: $br-2;
                &.active{
                    @include styleButtonHover($color-primary-1, $border-1, $color-transparent);
                    color: $color-white-1;
                }
            }
        }
    }
}